# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


#Do not save generated/provided audio files
*.wav
*.mp3

#Do not save generated/provided RF files
*.npz

#Exception for Test audio/npz files:
!/Tests/*.wav
!*/Tests/*.npz

#Ignore pyinstaller directories
/build
/build/Main

/dist

Main.spec

/Tests/Fake.py